@import "_vars";

.btn {
  @include base_shadow;
  background-color: $button_dafault;
  color: #fff;
  border-radius: $radius;
  padding: $default_spacing / 2 $default_spacing;
  border: 0;
  cursor: pointer;
  font-size: 0.85rem;

  &.block {
    width: 100%;
  }
}
